<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/unauthorized}">
<head>
    <title>Login page</title>

    <style>
        .form-signin {
            max-width: 330px;
            padding: 1rem;
        }
    </style>
</head>
<body>
    <div layout:fragment="content" class="d-flex" style="min-height: 100vh;">
        <main class="form-signin w-100 m-auto">
            <h1>Login page</h1>
            <p th:if="${param.error}" class="alert alert-danger">Wrong user or password</p>
            <p th:if="${success}" class="alert alert-success" th:text="${success}">Success</p>
            <p th:if="${errorMessage}" class="alert alert-dange" th:text="${errorMessage}">Error message</p>
            <form th:action="@{/login}" method="post">
                <label for="username">Username</label>:
                <input type="text"  class="form-control"  id="username" name="username" autofocus="autofocus" /> <br />
                <label for="password">Password</label>:
                <input type="password" class="form-control" id="password" name="password" /> <br />
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">
                        Remember me
                    </label>
                </div>
                <input type="submit" class="btn w-100 btn-primary py-2" value="Log in" />
            </form>
            <div class="d-flex justify-content-around">
                <a th:href="@{/registration}">Register</a>
                <a th:href="@{/passwordReset}">Forgot your password?</a>
            </div>
        </main>
    </body>
</html>