<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/unauthorized}">
<head>
    <title>Forgot your password?</title>

    <style>
        .form-signin {
            max-width: 330px;
            padding: 1rem;
        }
    </style>
</head>
<body>
    <div layout:fragment="content" class="d-flex" style="min-height: 100vh;">
        <main class="form-signin w-100 m-auto">
            <h1>Forgot your password?</h1>
            <p th:if="${success}" class="alert alert-success">
                Check your inbox for the next steps. If you don't receive an email, and it's not in your spam folder this could mean you signed up with a different address.
            </p>
            <form th:action="@{/passwordReset}" th:object="${formData}" method="post">
                <label for="email">Enter your email</label>:
                <input type="text" th:class="'form-control ' + ${#fields.hasErrors('email') ? 'is-invalid' : ''}" id="email" name="email" autofocus="autofocus" /> <br />
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                <input type="submit" class="btn w-100 btn-primary py-2" value="Send" />
            </form>
            <div class="text-center">
                <a th:href="@{/login}">Login page</a>
            </div>
        </main>
    </body>
</html>